@model MVCReviewTravelSite.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @*this is for a REVIEW, so there's no foreach loop because this is linked to one and only one, stop obsessing*@
    <h4>Review</h4>
    <hr />
   
        <h3>
            @Html.DisplayFor(model => model.ReviewTitle)
        </h3>

        <h3>
            @Html.DisplayNameFor(model => model.Category.Location): @Html.DisplayFor(model => model.Category.Location)
        </h3>
        <p>
            @Html.DisplayNameFor(model => model.ReviewDate): @Html.DisplayFor(model => model.ReviewDate)
        </p>
        <p>
            @Html.DisplayFor(model => model.ReviewContent)
        </p>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
